/* ============================================
RESET I BASE
============================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1a202c;
  line-height: 1.6;
  background-color: #f7fafc;
}

/* ============================================
MENÚ NAVIGATION STICKY
============================================ */

/*
    • Posició: Sticky, dalt de tot (top: 0, left: 0)
    • Fons: Semi-transparent amb efecte  backdrop-filter: blur(6px);
    • Logo  filter: invert(100%);
*/


#navegacio{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(6px);
  text-align: center;
}

header img{
  width: 50px;
  filter: invert(100%);
  vertical-align:middle;
}

header span{
  font-size: x-large;
  color: white;
  font-weight: bold;
  vertical-align: middle;
  text-shadow: 0.6px 0.6px 0.6px black;
}

.nav-menu{
  margin-left: 3rem;
  display: inline-block;
  list-style: none;
  line-height: normal;
  text-align: center;
}

header li{
  display: inline-block;
  vertical-align: middle;
}

header li a{
  display: inline-block;
  padding: 7px;
  box-shadow:0px 0px 2px white;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  text-shadow: 0.5px 0.5px 0.5px black;
  text-align: center;
  vertical-align: middle;
}



/* ============================================
HERO SECTION AMB PARALLAX
============================================ */

/* 
    • Botó efecte glass:
    ◦ Background: rgba(255, 255, 255, 0.2)
    ◦ Backdrop-filter: blur(3px)
*/

.hero{
  background-image: url(./../img/hero-section.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  text-align: center;
  padding-top: 30vh;
}

.hero-content{
  width: 600px;
  margin: 0 auto;
  color: white;
  text-shadow: 0.5px 0.5px 0.5px black;
  padding-bottom: 40px;
}

.hero-content h1{
  font-size: 3.7rem;
  margin-bottom: 10px;
}

.hero-content p{
  margin-bottom: 45px;
}

.btn-glass{
  color: white;
  padding: 18px;;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  Backdrop-filter: blur(3px)
}


/* ============================================
SECCIÓ DESTINACIONS POPULARS
============================================ */
.destinations{
  margin-top: 6rem;
  text-align: center;
}

.section-title{
  font-size: xx-large;
  margin-bottom: 20px;
}

.section-description{
  margin-bottom: 60px;
}

.travel-card img{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.travel-card{
  display: inline-block;
  max-width: 550px;
  border: 1px solid rgb(255, 255, 255, 0.1);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  text-align: left;
  margin-right: 30px;
  margin-left: 30px;
}

.card-content{
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.card-content h3 {
  font-size: xx-large;
}

.card-content p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-price{
  font-size: 40px;
  font-weight: bolder;
  color: #11b998;
  margin-bottom: 30px;
}

.btn-card {
  padding: 18px;
  padding-left: 22px;
  padding-right: 22px;
  color: white;
  background-color: #3498db;
  border-radius: 10px;
}

/* ============================================
OFERTES DESTACADES
============================================ */
.featured-offers{
  margin-top: 40px;
  border: 2px solid red;
  background-color: #f7fafc;
  text-align: center;
}

.section-title h2{
  margin-top: 20px;
}

.featured-card{
  display: inline-block;
  width: 500px;
  border: 1px solid rgb(255, 255, 255, 0.1);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  text-align: left;
}

.featured-badge{
  padding: 1rem;
  background-color: red;
}
/* ============================================
FOOTER
============================================ */
#contacte{

}