/* ============================================
          RESET I ESTILS BASE
 ============================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: rgba(0, 0, 0, 2);
}

body {
  background-color: #f0f4f8;
}

/* ============================================
          CONTENIDOR GENERAL (ENGLOBA TOT)
 ============================================ */
.container-portfolio {
  max-width: 900px;
  margin: 1rem auto;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: white;
}

/* ============================================
          HEADER AMB IMATGE DE PERFIL
============================================ */
header {
  background-color: #edf4fc;
  text-align: center;
  border-radius: 12px 12px 0 0;
  border-bottom: solid 5px #3a99db;
}

/* Imatge de perfil */
header img {
  margin-top: 1rem;
  width: 10rem;
  border: solid 5px;
  border-radius: 100%;
  border-color: #93c5fd;
  box-shadow: 2px 2px 10px black;
  margin-bottom: 0.5rem;
}

/* Nom principal */
#nom-principal {
  font-size: 50px;
}

/* Subtítol professional */
.rol-professional {
  margin-top: 1rem;
  font-size: 25px;
  color: #3a99db;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Descripció breu */
header > p {
  margin-top: 1rem;
  text-align: center;
  line-height: 180%;
  width: 70%;
  margin: auto;
  margin-bottom: 1rem;
  color: #848691;
  font-weight: 420;
}

/* ============================================
          CONTINGUT PRINCIPAL (MAIN)
============================================ */
main {
  margin: 3rem;
  margin-top: 4rem;
}

/* ============================================
          SECCIONS GENERALS
============================================ */
section.seccio {
  margin-bottom: 4rem;
  line-height: 1.6rem;
}


/* Títols de secció */
section.seccio > h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
  box-shadow: #cbd5e1;
  border-bottom: solid 2px #cbd5e1;
}

/* ============================================
          SECCIÓ - SOBRE MI
============================================ */
section.sobre-mi p {
  margin-top: 1rem;
  color: #797b85;
  font-weight: 445;
}

/* ============================================
          HABILITATS
============================================ */
ul.habilitats-llista {
  list-style: none;
  margin-top: 0.6rem;

}

/* Selector de descendent - Items dins de la llista */
ul.habilitats-llista li {
  background-color: darkgray;
  border-radius: 0.6rem;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  padding: 1rem;
  padding-left: 1.5rem;
}

/* Classes específiques per nivell */
ul.habilitats-llista li.nivell-expert {
  background-color: #C1DFF4;
  border-left: 5px solid #3797DA;
}

ul.habilitats-llista li.nivell-expert strong {
  color: #2863EB;
}

.habilitats-llista li.nivell-intermig {
  background-color: #DEECFE;
  border-left: 5px solid #60A4FA;
}

ul.habilitats-llista li.nivell-intermig strong {
  color: #5096F9;
}

ul.habilitats-llista li.nivell-basic {
  background-color: #F4F9FF;
  border-left: 5px solid #92C4FD;
}

ul.habilitats-llista li.nivell-basic strong {
  color: #69ABFB;
  font-style: italic;
  font-weight: 300;
}

/* ============================================
            PROJECTES
============================================ */
article.projecte {
  padding: 2rem;
  border: 1px solid #3797DA;
  border-radius: 12px;
  background-color: #F8FAFC;
  margin-bottom: 0.6rem;
  text-align: center;
  margin-top: 0.8rem;
  border: 1px 1px 5px #3797DA;
  box-shadow: 4px 4px 0 #3797DA;
}

/* Selector fill directe - Títol de projecte */
article.projecte > h3 {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

/* Imatges de projectes */
article.projecte img {
  width: 100%;
  border-radius: 8px;
}

/* Selector d'atribut - Enllaços amb href */
article.projecte a[href] {
  background-color: #232D3D;
  border-radius: 6px;
  padding: 10px;
  color: white;
  text-decoration: none;
}

/* Paràgrafs dins de projectes */
article.projecte p {
  text-align: left;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 2px;
}

article.projecte p strong {
}

/* ============================================
          EXPERIÈNCIA I FORMACIÓ
============================================ */
div.experiencia-item {
  border-radius: 35px;
  background-color: #F8FAFC;
  border: 1px solid #3797DA;
  border-left: 7px solid #3797DA;
  border-right: 7px solid #3797DA;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 2rem;
}

/* Títols dels contenidors d'experiència */
div.experiencia-item h3 {
  font-size: 25px;
  margin-bottom: 0.9rem;
}

/* Selector germà adjacent - Paràgraf després del títol */
div.experiencia-item h3 + p {
  font-size: 1.1rem;
  color: #3797dc;
}

/* Elemenets em (dintre de l'element experiència) */
div.experiencia-item em {
  font-weight: 200;
}

/* Selector germà general - Tots els paràgrafs després de l'empresa */
p.empresa ~ p {
  margin-top: 1rem;
  font-size: 15px;
}

/* ============================================
        CONTACTE
============================================ */
footer.contacte {
  border-radius: 0 0 1rem 1rem;
  border-top: 5px solid #3797DC;
  background-color: #ECF4FC;
  text-align: center;
  padding-bottom: 2rem;
}

footer.contacte h2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
}

footer.contacte > p {
  margin: 1rem;
}

/* Contenidor d'informació de contacte */
footer.contacte .info-contacte {
  margin-top: 1.7rem;
  font-weight: 200;
}

/* Selector múltiple - Tots els enllaços i span de contacte */
footer.contacte .info-contacte a,
footer.contacte .info-contacte span {
  font-weight: bold;
}

footer.contacte .info-contacte span {
  font-weight: 150;
  margin-left: 1rem;
  margin-right: 1rem;
}

footer.contacte .info-contacte a[href] {
  
  padding: 9px;
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 6px;
  text-decoration: none;
}

/* Selector d'atribut específic - Email */
footer.contacte a[href^='mailto:'] {
  color: #3797DA;
  border: 2px solid #3797DA;
  background-color: #D9E9F8;
}

/* Selector d'atribut específic - Telèfon */
footer.contacte a[href^='tel:'] {
  color: black;
  background-color: #D7DEE7;
  border: 2px solid black;
}
